<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HELLO SUPER TEST</title>
  </head>
  <body class="container">
    <h2> my test </h2>
    <p> this is the test result -  <%= hashed %>  </p>

  </body>
</html>
